In [1]:
from sklearn.tree import DecisionTreeClassifier 
from sklearn.model_selection import train_test_split
import pandas as pd

In [2]:
# Import dataset
dataset_url = "https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv"
column_names = ['fixed-acidity', 'volatile-acidity', 'citric-acid', 'residual-sugar', 'chlorides', 'free-sulfur-dioxide', 'total-sulfur-dioxide', 'density', 'pH', 'sulphates', 'alcohol', 'quality']
dataset = pd.read_csv(dataset_url, names=column_names,  sep=';')

In [3]:
dataset.drop([0], inplace=True)
dataset.head()

,fixed-acidity,volatile-acidity,citric-acid,residual-sugar,chlorides,free-sulfur-dioxide,total-sulfur-dioxide,density,pH,sulphates,alcohol,quality
1,7.4,0.7,0,1.9,0.076,11,34,0.9978,3.51,0.56,9.4,5
2,7.8,0.88,0,2.6,0.098,25,67,0.9968,3.2,0.68,9.8,5
3,7.8,0.76,0.04,2.3,0.092,15,54,0.997,3.26,0.65,9.8,5
4,11.2,0.28,0.56,1.9,0.075,17,60,0.998,3.16,0.58,9.8,6
5,7.4,0.7,0,1.9,0.076,11,34,0.9978,3.51,0.56,9.4,5

In [4]:
data = dataset[['fixed-acidity', 'volatile-acidity', 'citric-acid', 'residual-sugar', 'chlorides', 'free-sulfur-dioxide', 'total-sulfur-dioxide', 'density', 'pH', 'sulphates', 'alcohol']]
target = dataset['quality']

data_train, data_test, target_train, target_test = train_test_split(data,target,test_size = 0.20,random_state=0)

In [5]:
#model
tree = DecisionTreeClassifier(max_depth=11)
tree.fit(data_train,target_train)

#score
tree.score(data_test, target_test)

0.653125